.topLine {
  height: 60px;
  display: flex;
  justify-content: center;
}
.bottomLine {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.peopleCard {
  width: 260px;
  padding: 10px 30px;
  border: 1px solid gray;
  border-radius: 10px;
}
